# Python-related ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# macOS-specific files
.DS_Store
